# Precompiled Headers
*.gch
*.pch

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
desktop.ini
.DS_Store
*.bak
*.aps
*.user
.vs/
.vscode/
Debug*/
Release*/
bin/
build/
obj/
out/
packages/
tmp/
pnlic/PNLicenseManager/PNLicenseHiddenImage.inl
pnlic/PNLicenseManager/PNLicenseWarningImage.inl

# ...
bin/
include/
lib/
third_party/
