/*********************************************************/
/* Machine: FISH64 (White)                              
/*                                                       
/* (c) 2014 Oreans Technologies                          
/*********************************************************/

[Main Machine Info]

Name = (White)
MachineId =  0x84581901
MachineSignature = 0x80B50298
ProductSupport = WinLicense, Virtualizer, Themida
FileVersionEncoded = 0x12872829
HardwareEncryption = Not available


[Main Machine Architecture]

Name = FISH64
Bits = 64
MaxCPUs = 8
Emulates = IA64


[Main Machine Stats]

MemoryUsage = 150 KB
Speed = 90
Complexity = 10
ScoreMultiplier = 1


[Main Machine Processor]
RelocateRegs = Yes
RelocateStages = Yes
OpcodePermutation = Yes
RelocateHandlers = Yes
JoinUndefinedOpcodes = No
AllowAvidFields = Yes
ExpandedInstructionSet = Yes
MergeStages = Yes
EnableRevirtualization = Yes
EnableJoinHandlers = Yes
EnableStageGarbage = Yes
SmartInstructionsRelocation = Yes
EnableHandlerTimes = Yes

EnableBreakPoints = No
EnableDebugMode = No
EnableInterruptTrace = No

EnableFakeJumps = No
EnableFakeConditionalJumps = No
PermutateHandlers = No
MutateHandlers = No


[Specific Opcodes Customization]

Group1Mnemonics = COMMON_BINARY_OP, COMMON_UNARY_OP, POP, PUSH
Group1Garbage = [5]
Group1Avid = [5..10]
Group1Times = [3..5]

Group2Mnemonics = LODSB, LODSW, LODSD, SCASB, SCASW, SCASD, CMPSB, CMPSW, CMPSD, STOSB, STOSW, STOSD, MOVSB, MOVSW, MOVSD, PUSHFD, POPFD
Group2Garbage = [3]
Group2Avid = [2..5]
Group2Times = [2..6]

Group3Mnemonics = JCC_INSIDE, JUMP_OUTSIDE, JUMP_INSIDE, CALL, UNDEF, RET, JCC_OUTSIDE
Group3Garbage = [5]
Group3Avid = [0..0]
Group3Times = [2..5]

Group4Mnemonics = ENCRYPTED_OP_0x000A
Group4Garbage = [5]
Group4Avid = [5..10]
Group4Times = [4..6]

Group5Mnemonics = ENCRYPTED_OP_0x0007
Group5Garbage = [5]
Group5Avid = [5..10]
Group5Times = [1..1]

