# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

#root=false

[*.{cpp,h,inl,c,cxx,pidl}]
trim_trailing_whitespace = true				
insert_final_newline = true			# cpp,h 파일 맨 끝줄은 빈 한줄을 항상 자동 추가한다.
indent_style = space				# 이렇게 해두면 diff view를 할 때 tab size문제로 귀찮아지지 않는다.
charset=utf-8-bom					# msvc build warning 예방
indent_brace_style = Allman			# 안타깝게도 visual studio에서는 아직 작동 안하지만, 미래를 위해.

